@font-face {
  font-family: "iosevka";
  src: url("/css/Iosevka-Regular.woff2") format("woff2"), url("/css/Iosevka-Bold.woff2") format("woff2"), url("/css/Iosevka-Italic.woff2") format("woff2");
}

:root {
  --background: #2e3440;
  --light-background: #4c566a;
  --foreground: #d8dee9;
  --blue: #5e81ac;
  --h1-color: #88c0d0; /* cyan */
  --h2-color: #8fbcbb; /* bright blue */
  --green: #a3be8c;
  --magenta: #b48ead;
}

* {
  font-family: "iosevka";
  font-size: 18pt;
}

body { 
    background: var(--background);
    color: var(--foreground);
	margin: 0;
    text-align: center;
}

.container { 
    display: grid;
    grid-template-columns: 22vw 56vw 22vw;
}

code { 
    font-size: inherit;
    background: var(--light-background);
    padding: .1rem .3rem .2rem;
    border-radius: .2rem;
}

h1 { 
	  color: var(--h1-color);
}

h2 {
	  color: var(--h2-color);
}

a { 
    color: var(--blue);
    text-decoration: none;
    font-size: inherit;
}

main { 
    grid-column: 2 / 3;
    padding: 0 20px;
}

#blog-logo  { 
    margin: 5% 0;
    grid-column: 2 / 3;
}

#blog-logo img {
    max-width: 100%;
}

li::marker {
    content: '\2726  ';
    color: --var(--light-background);
}

ul {
    margin: 0;
    text-align: left;
    display: inline-block;
}

@media (orientation: portrait) { 
    .container {
      grid-template-columns: 15px 1fr 15px;
    }
}
