@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/cascadia-code.min.css");

:root {
    --backdrop: #999999;
    --background: #000000;
    --light-background: #222222;
    --foreground: #f8f7f2;
    --blue: #5f8787;
    --red: #79241f;
}

* {
    font-family: 'Cascadia Code', sans-serif;
}

body {
    background: var(--backdrop);
}

.container {
    margin-top: 5vw;
    margin-left: 30vw;
    margin-right: 30vw;
}

.box {
    background: var(--background);
    color: var(--foreground);
    border: 1px solid var(--foreground);
    padding: 2.5%;
    margin: 4% auto 4% auto;
}

main {
    font-size: 13pt;
}

#title {
    font-size: 20pt;
}

code { 
    font-size: inherit;
    background: var(--light-background);
    padding: .1rem .3rem .2rem;
    border-radius: .2rem;
}

i {
    color: var(--red);
}

a { 
    color: var(--blue);
    text-decoration: none;
    font-size: inherit;
}

@media (max-aspect-ratio: 1.2/1) {
 .container {
    margin-left: 5vw;
    margin-right: 5vw;
  }   
}
