@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/cascadia-code.min.css");

:root {
  --background: #2e3440;
  --light-background: #4c566a;
  --foreground: #d8dee9;
  --blue: #5e81ac;
  --h1-color: #88c0d0; /* cyan */
  --h2-color: #8fbcbb; /* bright blue */
  --green: #a3be8c;
  --magenta: #b48ead;
}

* {
  font-family: 'Cascadia Code', sans-serif;
  font-size: 15pt;
  background: var(--background);
}

body { 
    color: var(--foreground);
    text-align: center;
}

code { 
    font-size: inherit;
    background: var(--light-background);
    padding: .1rem .3rem .2rem;
    border-radius: .2rem;
}

h1 { 
    color: var(--h1-color);
}

h2 {
    color: var(--h2-color);
}

a { 
    color: var(--blue);
    text-decoration: none;
    font-size: inherit;
}

#blog-logo  { 
    margin: 2% 0;
}

#blog-logo img {
    max-width: 100%;
}

li::marker {
    color: var(--light-background);
}

ul {
    text-align: left;
    display: inline-block;
}
