<!doctype html>
<!-- this is the default layout used by every html page -->
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
        <link rel="stylesheet" href="/assets/css/styles.css">
    </head>
    <body>
        <!-- container class = css grid check _sass/main.scss -->
        <div class="container">
          {% include bloglogo.html %} 
            <main id="big-box" class="box-layout">
                {{ content }}
            </main>
          {% include sidebar.html %}
        </div>
    </body>
</html>
